# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
node_modules/*
!node_modules/.gitkeep

# Prevent tracking specific files/folders
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/*.map


# Build output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
